html{
	position: relative;	
}

body{
	margin-bottom: 100px;
}


.jumbotron img {
	width: 200px;
	border: 5px solid #999;
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}

section{
	min-height: 500px;
}

.portfolio{
	background-color: #eee;
}

.contact{
	min-height: 770px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 100px;
	background-color: #000;
	padding-top: 10px;
}

footer p{
	color: #aaa;
	font-size: 9px;
}

footer i {
	color: salmon;
}
 
footer a i {
	color: #fff;
}
















